 import libaries, load documents and get roots

In [1]:
from xml.etree import ElementTree as ET
import pandas as pd
import numpy as np

In [2]:
#get document, and the root of the string documents
document = ET.parse( './data/mondial_database.xml' )
root = document.getroot()

Question1: 10 countries with the lowest infant mortality rates

In [3]:
# parse name of the country, infant_mortality rate,
# then update the mortality dictionary

mort = {}
for child in root.iter('country'):
    mortality = child.findtext('infant_mortality')
    name = child.find('name').text
    mort.update({name:mortality})

In [4]:
# read dictinary mort as data frame
# sort df by mortality rate, and show lowest 10
mortality_df = pd.DataFrame.from_dict(mort, orient = "index")
mortality_df.columns = ["mortality"]
mortality_df.sort_values("mortality").head(10)

                     mortality
Monaco                    1.81
Romania                  10.16
Fiji                      10.2
Brunei                   10.48
Grenada                   10.5
Mauritius                10.59
Panama                    10.7
Seychelles               10.77
United Arab Emirates     10.92
Barbados                 10.93

Question2 : 10 cities with the largest population

In [5]:
#parse, city name population
pop_dict = {}
for child in root.iter('city'):
    for pop in child.getiterator('population'):
        population = int(pop.text)
        year = pop.get('year')
        city = child.findtext('name')
        if year == "2011":
            pop_dict.update({city: population})

In [6]:
# read dictionary as data frame
# sort by population, descending order
population_df = pd.DataFrame.from_dict(pop_dict, orient = "index")
population_df.columns = ["population"]
population_df.sort_values("population",ascending= False).head(10)

           population
Mumbai       12442373
Delhi        11034555
Bangalore     8443675
Tehran        8154051
Dhaka         7423137
Hyderabad     6731790
Ahmadabad     5577940
Luanda        5000000
Chennai       4646732
Sydney        4605992

Question 3: 10 ethnic groups with the largest overall populations (sum of best/latest estimates over all countries)

In [7]:
ethn_name = list()
ethn_population = list()

# extract lastest population
# get the population of each ethnicity in every country
# write the ethnicity group name and population into seperate list

for child in root.iter('country'):
    country = child.findtext('name')
    year0 = 1950
    for population in child.findall('population'):
        year = int(population.get('year'))
        if year > year0:
            year0 = year
            pop = int (population.text)
    for ethinicty in root.iter('ethnicgroup'):
        percent = float (ethinicty.get('percentage'))
        ethname = ethinicty.text
        ethpop = percent * pop / 100 
        ethn_name.append(ethname)
        ethn_population.append(ethpop)

In [8]:
#dataframe 
ethn_df = pd.DataFrame({'ethnicity':ethn_name ,'population':ethn_population})

#groupby ethnicity group and sum

ethn_df.groupby('ethnicity').sum().sort_values('population', ascending = False).head(10)

               population
ethnicity
African      1.302733e+11
European     6.768454e+10
Mestizo      6.070428e+10
Polynesian   4.646768e+10
Arab         4.450160e+10
Chinese      3.297009e+10
Arab-Berber  2.064378e+10
Black        1.781319e+10
Malay        1.689290e+10
Melanesian   1.611205e+10

Question4: name and country of a) longest river, b) largest lake and c) airport at highest elevation

In [9]:
rivernamels= list()
citynamels = list()
countrynamels = list()
latitudels = list()
longitudels = list()

for child in root.iter('country'):
    country = child.findtext('name')
    for city in root.getiterator('city'):
        cityname = city.findtext('name')
        latitude = city.findtext('latitude')
        longitude = city.findtext('longitude')
        for river in city.findall('located_at'):
            if river.get('watertype') == "river":
                river_name =  river.get('river')
                rivernamels.append(river_name)
                citynamels.append(cityname)
                countrynamels.append(country)
                latitudels.append(latitude)
                longitudels.append(longitude)

In [15]:
river_df = pd.DataFrame({'river':rivernamels ,'city':citynamels, 'country':countrynamels, 'latitude':latitudels,'longitude':longitudels})
river_df

,city,country,latitude,longitude,river
0,Beograd,Albania,44.8,20.4667,river-Donau
1,Beograd,Albania,44.8,20.4667,river-Save
2,Novi Sad,Albania,None,None,river-Donau
3,Niš,Albania,None,None,river-SouthernMorava
4,Podgorica,Albania,42.26,19.16,river-Moraca
5,Strasbourg,Albania,48.5833,7.76667,river-Rhein
6,Bordeaux,Albania,44.51,-0.4,river-Garonne
7,Orléans,Albania,47.5,1.5,river-Loire
8,Tours,Albania,None,None,river-Loire
9,Chalons en Champagne,Albania,49.0,4.4,river-Marne
10,Besançon,Albania,47.1,6.2,river-Doubs
11,Rouen,Albania,49.3,1.5,river-Seine
12,Le Havre,Albania,None,None,river-Seine
13,Paris,Albania,48.8167,2.48333,river-Seine
14,Paris,Albania,48.8167,2.48333,river-Marne
15,Boulogne-Billancourt,Albania,None,None,river-Seine
16,Argenteuil,Albania,None,None,river-Seine
17,Saint-Paul,Albania,None,None,river-Seine
18,Metz,Albania,49.1,6.2,river-Mosel
19,Nancy,Albania,48.4,6.1,river-Mosel
20,Toulouse,Albania,43.4,1.2,river-Garonne
21,Nantes,Albania,47.25,-1.56667,river-Loire
22,Lyon,Albania,45.7,4.78333,river-Saone
23,Lyon,Albania,45.7,4.78333,river-Rhone
24,Grenoble,Albania,None,None,river-Isere
25,Villeurbanne,Albania,None,None,river-Rhone
26,Sevilla,Albania,None,None,river-Guadalquivir
27,Córdoba,Albania,None,None,river-Guadalquivir
28,Zaragoza,Albania,None,None,river-Ebro
29,Valladolid,Albania,None,None,river-Douro
...,...,...,...,...,...
117090,Kananga,Seychelles,None,None,river-Lulua
117091,Tshikapa,Seychelles,None,None,river-Kasai
117092,Kalemi,Seychelles,-5.9,29.2,river-Lukuga
117093,Kinshasa,Seychelles,-4.3,15.2,river-Zaire
117094,Kindu,Seychelles,None,None,river-Lualaba
117095,Livingstone,Seychelles,None,None,river-Sambesi
117096,Yola,Seychelles,None,None,river-Benue
117097,Onitsha,Seychelles,None,None,river-Niger
117098,Yenagoa,Seychelles,None,None,river-Niger
117099,Makurdi,Seychelles,None,None,river-Benue
117100,Asaba,Seychelles,None,None,river-Niger
117101,Lokoja,Seychelles,None,None,river-Niger
117102,Lokoja,Seychelles,None,None,river-Benue
117103,Garoua,Seychelles,None,None,river-Benue
117104,Bangui,Seychelles,4.3,18.5,river-Ubangi
117105,Bimbo,Seychelles,None,None,river-Ubangi
117106,N'Djamena,Seychelles,12,15,river-Schari
117107,Khartoum,Seychelles,15.6167,32.55,river-Nil
117108,Khartoum,Seychelles,15.6167,32.55,river-Blauer_Nil
117109,Omdurman,Seychelles,None,None,river-Nil
117110,Omdurman,Seychelles,None,None,river-Weisser_Nil
117111,Omdurman,Seychelles,None,None,river-Blauer_Nil
117112,Khartoum North,Seychelles,None,None,river-Nil
117113,Al Gazira,Seychelles,None,None,river-Blauer_Nil
117114,Juba,Seychelles,4.85,31.6,river-Bahr_el-Djebel
117115,Gambella,Seychelles,None,None,river-Baro
117116,Banjul,Seychelles,13.5,-17,river-Gambia
117117,Saint-Louis,Seychelles,None,None,river-Senegal
117118,Xai-Xai,Seychelles,-25.2,34,river-Limpopo
117119,Tete,Seychelles,None,None,river-Sambesi